language: c
compiler:
  - gcc
  - clang

before_install:
  #install a newer cmake since at this time Travis only has version 2.8.7	
  - sudo add-apt-repository --yes ppa:kalakris/cmake
  - sudo apt-get update -qq
  - sudo apt-get install -y cmake

env:
  - BUILD_MODE=standalone
  - BUILD_MODE=slicer

# Change this to your needs
script: 
  - case $BUILD_MODE in
        standalone)
          mkdir _build_alone && cd _build_alone && cmake .. && make && make test
          ;;
        slicer)
          git clone git://github.com/Slicer/Slicer.git && cd Slicer &&
          mkdir Slicer4-SuperBuild-Debug && cd Slicer4-SuperBuild-Debug &&
          cmake .. && 
          make &&
          cd .. &&
          mkdir _build_slicer && cd _build_slicer &&
          cmake -DUKFTractography_SUPERBUILD:BOOL=OFF -DSlicer_DIR=../Slicer4-SuperBuild-Debug/Slicer-build .. &&
          make && make test
          ;;
      esac ;


